@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --card: #ffffff;
  --border: #e2e8f0;

  --primary: #0f172a;
  --secondary: #334155;

  --success: #16a34a;
  --danger: #dc2626;
}

body {
  background: var(--background);
  color: var(--foreground);
}